URL = "https://zenmonk-apps.zenmonk.tech/sales/scholarship-application-app-develop"
LANGUAGE = "Español (España)" or "Inglés (Estados Unidos)" or "Spanish (Spain)" or "English (United States)"
ACCESS_CODE = "eaf857f"